# On va mettre ici toutes les varibales d'env 
# ex :

# Configuration du Domaine
DOMAIN_NAME=mlaffita.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=melody
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=mlaffita_admin
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=mlaffita@student.42.fr

WP_USER=visitor
WP_USER_PASSWORD=
WP_USER_EMAIL=visitor@student.42.fr

# Password laisse vie, a ajouter pdt l'eval ?? 
# According to the subject ne jamais push de mot de passe ds le repo 
