# On va mettre ici toutes les varibales d'env 
# ex :

# Configuration du Domaine
DOMAIN_NAME=mlaffita.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=melody
#MYSQL_PASSWORD= va etre geré par les secrets
#MYSQL_ROOT_PASSWORD= va etre geré par les secrets

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=mlaffita
#WP_ADMIN_PASSWORD= va etre geré par les secrets
WP_ADMIN_EMAIL=mlaffita@student.42.fr

WP_USER=visitor
#WP_USER_PASSWORD= va etre geré par les secrets
WP_USER_EMAIL=visitor@student.42.fr

# According to the subject ne jamais push de mot de passe ds le repo 
